# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor and IDE files
.vscode/
.idea/

*.pid
docker-compose.override.yml
